[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "sources/assignment3"]
	path = sources/assignment3
	url = https://github.com/cu-ecen-aeld/assignments-3-and-later-jainaneesh
